# save-exact=true — this is my default preference, though when updating dependencies across a monorepo, it does get in the way.

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_TOKEN}